/* Overall styles */
.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Navbar styles */
.navbar {
  background-color:darkslategray;
  color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;


}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem;
}

.navbar button {
  background-color: transparent;
  color:aqua;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Recently Searched dropdown styles */
.recentlySearched {
  position: absolute;
  top: 70px;
  right: 10px;
  background-color:rgb(215, 222, 222);
  padding: 10px;
}

.recentlySearched h3 {
  font-size: 1rem;
  color: #4db33d;
  margin-bottom: 20px;
}

.recentlySearched ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recentlySearched li {
  font-size: 0.875rem;
  margin-bottom: 5px;
}


.main {
  flex: 1;
  padding: 10px;
  background-image: linear-gradient(315deg, #1dc1b6 0%, #82847c 74%);
}
input{
  width: 400px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 9px;

}

.searchBox > button{
  background-color:rgb(32, 20, 22);
  height: 33px;
  width: 60px;
  border: none;
  color: white;
  box-shadow: 0px 3px 2px #a2adb1;
  cursor: pointer;
  
}